node_modules
dist
dist-ssr
.vite
*.local
.DS_Store
.env
.env.local
.env.*.local
.idea
.vscode
*.log

# TypeScript incremental + compiled vite.config
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# Vercel
.vercel
